html{
    /*background:url(pexels-karolina-grabowska-4219214.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Sofia;
}
.blur { 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 
} 
.container{
    
    position:relative;
    margin-left: 100px;
    margin-right:100px;
    margin-top:130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
    

}

.container > div {
  background-color:rgb(187, 255, 0);
  text-align: center;
  padding: 20px ;
  font-size:  37px;
  height:394px;
  width:299px;
  border:2px solid;
  border-radius: 1%;
  text-align: left;
  padding-left: 20px;
  border-radius: 1%;
  
}
.button{
    font-family: 'Akaya Kanadaka';
    
    height:50px;
    width:296px;
    
    
    margin-left:-20px;
    margin-top:10px;
    font-size:20px;
    

}
.remove{
    margin-top:10px;
    margin-bottom: -70px;
    outline: 2px solid;
    
    
    background-color: #2185d5;
    background-image:url("trash.jpg");
    background-repeat: no-repeat;
    background-size: 20px;


    background-position: 15px ,610px; 
}

.readbook{
    margin-top:60px;
    margin-bottom: -8px;
    outline: 2px solid;
 
    background-color :rgb(35, 255, 171);
    background-image:url("read.jpg");
    background-repeat: no-repeat;
    background-size: 20px;
    

    background-position: 15px ,610px

    
}

.add{
   
    
    position: fixed;
    bottom: 6%;
    right: 2%;
    height:60px;
    width:60px;
    border-radius:50%;
    font-size:40px;
    background:linear-gradient(54.7deg,  #fa1c54 12%,#dee061 100%);

    transition: 0.5s ease;
    

}
.add:active{
    outline:none;
}
.add:hover{
    outline:none;
    transform: scale(1.1);
    
}



#formcontainer{
    display:block;
    background: linear-gradient(54.7deg,  #fd47df 12%,#6a4ee9 100%);
    position:absolute;
    top:0%;
    right:0;
    left:0;

    
    
    
    
    

}
.display1{
    position:absolute;
    top:20%;
    right:0;
    left:0;
    display:none;
}
.title1,.author,.pages,.read1,.date{
    font-family: 'Akaya Kanadaka';
    border-bottom: 2px solid;
    margin-left: -20px;
    margin-right:-21px;
    padding-left:15px;
    
    
}
.read1{
    
    border-bottom:0px;
      
}
.title1{
    margin-top:-20px;
    margin-right:-20px;
    background-color: #2185d5;
}
#info{
    margin-top:-180px;
    height:250px;
    width:100%;
    background-color: black;
    background-image:url("library1.jpg");
    background-repeat: no-repeat;
    background-size: 200px;


    background-position: 470px; 
    background-position-y: 0px;

}
.intro,.totalBooks,.totalPages,.totalread{
    animation: glow 1s ease-in-out infinite alternate;
    color: #fff;
    position:absolute;
    font-family: 'Akaya Kanadaka';
    font-size:70px;
    
}


.totalBooks,.totalPages,.totalread{
    margin-top:8%;
    font-size: 60px;
}
.intro{
    margin-left:2%;
 
}
.totalBooks{
    margin-left: 2%;
}
.totalPages{
    margin-left: 36%;

}
.totalread{
   
    margin-left:75%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
